@import "../../common/css/reset.css";

// colors
$color-primary: #90b6c7;
$color-secondary: #b3d6e6;



body {
	background-color: lighten($color-primary, 25%);
}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.header,
.footer {
	text-align: center;
	background-color: lighten($color-primary, 10%);
}

.header {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		font-size: 50px;
	}

}


.content {
	flex: 1 1 auto;

	display: flex;
	padding: 5px;
}

.container {
	display: flex;
	overflow: scroll;
}

.board {
	flex: 1 1 auto;
	display: flex;
	background-color: $color-primary;


	&__column {
		margin: 5px;
		background-color: $color-secondary;
	}

	&__row {
		padding: 5px;
	}

	&__item {
		background-color: lighten($color-secondary, 8%);
	}

}

.card {

	&__title {
		font-size: 20px;
		min-height: 30px;
	}

}