@import "../../common/css/reset.css";
body {
  background-color: #e5eef2;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  text-align: center;
  background-color: #b2ccd8;
}

.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 50px;
}

.content {
  flex: 1 1 auto;
  display: flex;
  padding: 5px;
}

.container {
  display: flex;
  width: 100%;
  overflow: scroll;
}

.board {
  flex: 1 1 auto;
  display: flex;
  background-color: #90b6c7;
}
.board__column {
  margin: 5px;
  background-color: #b3d6e6;
}
.board__row {
  position: relative;
  padding: 5px;
}
.board__row_dragging {
  opacity: 0.5;
}
.board__row_drag-after::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 1px);
  right: 5px;
  width: calc(100% - 10px);
  height: 3px;
  background-color: #406b7e;
}
.board__item {
  min-width: 150px;
  max-width: 300px;
  padding: 10px;
  background-color: #d2e7f0;
  cursor: pointer;
}

.column__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  gap: 10px;
}
.column__controls {
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  min-height: 30px;
}