@import "../../common/css/reset.css";

//colors
$background-light: #f5f5f5;
$background-dark: #d1d1d1;

body {
	text-align: center;
	background: $background-light;
}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 1 auto;

	display: flex;
}

.container {
	display: flex;
	align-items: center;
	max-width: 700px;
	margin: 0 auto;
	text-align: left;
}

.login-block {
	padding: 40px;

	background-color: $background-dark;

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 200px;
		border: 1px solid black;
	}

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__input {
		max-width: 500px;
		padding: 5px 10px;
	}

	&__button {
		padding: 5px;
	}
}